<app-header></app-header>

<!-- Sidebar  -->
<!-- <div class="col-md-2"> -->
<nav id="sidebar" class="active">
    <div class="col-md-12">
        <button type="button" id="dismiss" class="btn btn-info dsply-none">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <!-- <i class="fas fa-align-justify"></i> -->
            <img src="../../../assets/images/Hamburger.svg" />
            <!-- <span class="glyphicon glyphicon-menu-hamburger"></span> -->
        </button>
    </div>

    <ul class="list-unstyled components">
        <li>
            <!--<a routerLink="../sleepingroomtypes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> -->
            <a routerLink="../portalquestions">
                <span>01</span><span class="dsply-none">Portal Questions</span>
            </a>
        </li>
        <li>
            <!--<a routerLink="../sleepingroomtypes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> -->
            <a routerLink="../sleepingroomtypes">
                <span>02</span><span class="dsply-none">Sleeping Room</span>
            </a>
        </li>
        <li>
            <a routerLink="../functiontypes">
                <span>03</span><span class="dsply-none">Function Type</span>
            </a>

        </li>
        <li>
            <a routerLink="../profitheaders">
                <!--<i class="fas fa-copy"></i> -->
                <span>04</span><span class="dsply-none">Profit Series</span>
            </a>
        </li>
        <li>
            <a routerLink="../reportheader">

                <span>05</span><span class="dsply-none">Report Header</span>
            </a>
        </li>
        <li>
            <a routerLink="../tax">

                <span>06</span><span class="dsply-none">Tax</span>
            </a>
        </li>
        <li>
            <a routerLink="../servicecharge">
                <span>07</span><span class="dsply-none">Service Charge</span>
            </a>
        </li>
        <li>
            <a routerLink="../revenuesubcategory">
                <span>08</span><span class="dsply-none">Revenue Sub Category</span>
            </a>
        </li>
        <li>
            <a routerLink="../otherdetails">
                <span>09</span><span class="dsply-none">Other Details</span>
            </a>
        </li>
    </ul>

</nav>

<div class="overlay"></div>
<!--</div> -->